.chapters-container {
  border: 1px solid lightgray;
  max-height: 359px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.chapter-scroll-box {
  height: 300px;
  overflow-y: scroll;
  position: relative;
}

.chapter-scroll-box::after {
  content: '';
  display: block;
  height: 60px;
}

.chapter-header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 4px 8px 16px;
}

.chapter-header-name {
  font-size: 20px;
  font-weight: bold;
}

.chapter-header-close {
  width: 24px;
  border-radius: 50%;
  padding: 8px;
}

.chapter-header-close:hover {
  background-color: rgb(225, 225, 225);
}

.chapter {
  width: calc(100%-16px);
  display: flex;
  align-items: center;
  padding: 8px 0px 8px 15px;
  cursor: pointer;
}

.chapter-thumbnail {
  width: 100px;
  border-radius: 8px;
}

.chapter-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  margin-left: 16px;
  margin-right: 4px;
}

.chapter-name {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 20px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chapter-start {
  font-size: 12px;
  font-weight: 500;
  background-color: rgb(222, 241, 255);
  color: rgb(6, 95, 212);
  padding: 3px 5px;
  border: none;
  border-radius: 2px;
  width: max-content;
}

.chapter-icons {
  justify-self: end;
  display: flex;
  width: 80px;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  margin-right: 8px;
  opacity: 0;
  position: absolute;
}

.chapter-icons {
  .share {
    width: 24px;
    padding: 8px;
    border-radius: 50%;
  }
  .repeat {
    width: 24px;
    padding: 8px;
    border-radius: 50%;
  }
}

.share:hover,
.repeat:hover{
  background-color: rgb(225, 225, 225);
}

.chapter:hover{
  background-color: rgb(240, 240, 240);
}

.chapter:hover .chapter-icons{
  position: static;
  opacity: 1;
}

.chapter-sync-flex {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px; 
  left: 0px;
  right: 0px;
}

.chapter-sync {
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 30px;
  cursor: pointer;
}