body {
  font-family: Roboto, Arial;
  margin: 0px;
}

p {
  margin: 0px;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin: 0px 24px 0px 24px;
}

.grid-layout {
  display: grid;
  grid-template-columns: 640px minmax(300px, 1fr);
  column-gap: 24px;
  row-gap: 14px;
}