body {
  font-family: Roboto, Arial;
  margin: 80px 0px 0px 0px;
}

p {
  margin: 0px;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin: 0px 24px;
}

.grid-layout {
  display: grid;
  grid-template-columns: 640px minmax(300px, 400px);
  grid-template-rows: auto auto 1fr;
  column-gap: 24px;
}

@media (max-width: 999px) {
  .grid-layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .main-video {
    justify-self: center;
  }

  .chapters-container,
  .video-info,
  .suggestion-container,
  .comments-section {
    margin-top: 24px;
  }
}

@media (max-width: 690px) {
  .main-video {
    max-width: 460px;
  }
}