.main-video {
  max-width: 640px; 
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.main-video-thumbnail {
  width: 100%;
  display: block;
}

.play-yt-button {
  position: absolute;
  top: 155px;
  left: 285px;
}

.black-yt,
.red-yt {
  width: 70px;
  display: block;
}

.black-yt {
  position: relative;
  opacity: 0.7;
}

.red-yt {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: all 0.15s;
}

.play-yt {
  height: 22px;
  width: 30px;
  position: absolute;
  top: 14px;
  left: 22px;
}

.control {
  background-image: linear-gradient(to top, rgb(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.05),rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  opacity: 0;
  transition: all 0.15s ease-in;
}

.main-video:hover .control,
.main-video:hover .red-yt{
  opacity: 1;
}

.video-time-bar-flex {
  display: flex;
  align-items: center;
  height: 18px;
  width: 95%;
}

.video-time-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.video-time-bar * {
  margin: 0px 0.5px;
}

.video-time-bar .completed {
  height: 2.75px;
  background-color: rgb(255, 0, 0);
  transition: all 0.15s;
}

.video-time-bar .current-position {
  display: flex;
  align-items: center;
  width: 18%;
  position: relative;
}

.current-position .completed {
  width: 60%;
}

.current-position .incompleted {
  width: 40%
}

.video-time-bar .incompleted {
  height: 2.75px;
  background-color: rgba(170, 170, 170, 0.5);
  transition: all 0.15s;
}

.time-bar-circle {
  width: 14px;
  transform: scale(0);
  position: absolute;
  left: calc(60% - 7px);
  transition: all 0.15s;
}

.video-time-bar:hover .completed,
.video-time-bar:hover .incompleted{
  height: 4.5px;
}

.video-time-bar:hover .time-bar-circle {
  transform: scale(1);
}

.current-position:hover .completed,
.current-position:hover .incompleted {
  height: 8.75px;
}

.current-position:hover .time-bar-circle{
  transform: scale(1.54);
}

.video-time-bar > .completed:hover,
.video-time-bar > .incompleted:hover {
  height: 8.75px;
}

.control-icons {
  width: 92%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 6px 0px 14px 0px;
}

.left-region {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.play-icon,
.next-icon,
.speaker-icon,
.volume-icon,
.current-chapter-icon,
.auto-play-icon,
.caption-icon,
.setting-icon,
.theater-icon,
.miniplayer-icon,
.full-screen-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  opacity: 0.9;
  cursor: pointer;
}

.left-region .icon {
  width: 16px;
}

.play-icon .icon {
  width: 14px;
}

.tooltip {
  position: absolute;
  top: -50px;
  font-size: 13px;
  background-color: rgb(40, 40, 40);
  font-weight: 500;
  color: white;
  padding: 4px 8px;
  border-radius: 3px;
  opacity: 0;
  transition: all 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.play-icon .tooltip {
  right: -30px;
}

.image-tooltip {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  top: -220px;
  right: -175px;
  opacity: 0;
  transition: all 0.2s ease-in;
  pointer-events: none;
}

.image-tooltip .tooltip{
  position: relative;
  top: 6px;
  text-align: center;
}

.tooltip-img {
  width: 240px;
  display: block;
  border-radius: 6px;
  border: 3px solid rgb(60, 60, 60);
}

.next-icon .time-stamp {
  position: absolute;
  bottom: 42px;
  right: 3px;
  font-size: 12px;
  font-weight: 500;
  background-color: black;
  color: white;
  padding: 2px 4px;
  border-radius: 3px;
}

.image-tooltip .next-video-title {
  font-size: 12px;
  background-color: rgb(40, 40, 40);
  font-weight: 500;
  color: white;
  padding: 4px 8px;
  border-radius: 3px;
  position: relative;
  bottom: 6px;
}

.speaker-icon .icon {
  width: 18px;
}

.speaker-volume-time {
  display: flex;
  align-items: center;
}

.volume-icon {
  pointer-events: none;
}

.full-screen-icon .tooltip {
  left: -60px;
}

.volume-bar {
  display: flex;
  align-items: center;
  width: 50px;
  margin: 0px 10px 0px 20px;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: all 0.2s ease-in;
}

.volume-bar .completed{
  width: 35%;
  height: 2.75px;
  background-color: white;
}

.volume-bar-circle {
  width: 12px;
}

.volume-bar .incompleted {
  width: 65%;
  height: 4px;
  background-color: rgba(200, 200, 200, 0.4);
}

.video-time {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: white;
  font-weight: 300;
  white-space: nowrap;
  cursor: text;
  margin-left: -60px;
  transition: all 0.2s ease-in;
}

.video-time .mid-dot {
  font-weight: bold;
  margin: 0px 5px;
}

.current-chapter {
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  opacity: 0.9;
}

.current-chapter-name-and-arrow {
  display: flex;
  align-items: center;
  clip-path: polygon(0 0, 72px 0, 72px 100%, 0 100%);
  transition: all 0.2s ease-in;
}

.right-arrow {
  width: 6px;
  margin-left: 6px;
  cursor: pointer;
  opacity: 0.9;
}

.speaker-icon:hover ~ .volume-icon,
.volume-icon:hover{
  pointer-events: all;
}

.speaker-icon:hover ~ .volume-icon .volume-bar,
.volume-icon:hover .volume-bar{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.speaker-icon:hover ~ .video-time,
.volume-icon:hover ~ .video-time {
  margin-left: 0px;
}

.speaker-icon:hover ~ .video-time .current-chapter-name-and-arrow,
.volume-icon:hover ~ .video-time .current-chapter-name-and-arrow {
  clip-path: polygon(0 0, 12.5px 0, 12.5px 100%, 0 100%);
}

.right-region {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 27px;
  margin-left: -35px;
}

.toggle-button {
  background-color: rgb(140, 140, 140, 0.6);
  height: 12px;
  width: 24px;
  border-radius: 6px;
  position: relative;
}

.toggle-button .icon {
  width: 26px;
  position: absolute;
  right: -13px;
  bottom: -7px;
}

.auto-play-icon .tooltip {
  top: -52px;
}

.setting-icon .icon,
.full-screen-icon .icon {
  width: 20px;
}

.caption-icon .icon {
  width: 22px;
}

.theater-icon .icon,
.miniplayer-icon .icon {
  width: 24px;
}

.play-icon:hover,
.play-icon:hover .tooltip,
.next-icon:hover,
.next-icon:hover .image-tooltip,
.next-icon:hover .tooltip,
.speaker-icon:hover,
.speaker-icon:hover .tooltip,
.volume-icon:hover,
.volume-icon:hover .tooltip,
.current-chapter:hover,
.current-chapter:hover .right-arrow,
.current-chapter:hover .tooltip,
.auto-play-icon:hover,
.auto-play-icon:hover .tooltip,
.caption-icon:hover,
.caption-icon:hover .tooltip,
.setting-icon:hover,
.setting-icon:hover .tooltip,
.theater-icon:hover,
.theater-icon:hover .tooltip,
.miniplayer-icon:hover,
.miniplayer-icon:hover .tooltip,
.full-screen-icon:hover,
.full-screen-icon:hover .tooltip {
  opacity: 1.5;
}