.suggestion-container {
  grid-row: span 2;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.suggestion{
  height: 96px;
  display: flex;
  align-items: start;
  margin-bottom: 8px;
}

.suggestion-video {
  height: 100%;
  position: relative;
}

.suggestion-thumb-nail {
  width: 168px;
  height: 94px;
  border-radius: 8px;
  cursor: pointer;
}

.watch-later {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 18px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 4px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.15s;
}

.add-to-queue {
  position: absolute;
  top: 34px;
  right: 4px;
  width: 18px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 7px 4px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.15s;
}

.suggestion:hover .watch-later,
.suggestion:hover .add-to-queue {
  opacity: 1;
}

.suggestion-time-stamp {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: 12px;
  font-weight: 500;
  background-color: black;
  color: white;
  padding: 2px 4px;
  border-radius: 3px;
}

.suggestion-play {
  width: 24px;
  position: absolute;
  top: 32px;
  left: 76px;
  opacity: 0;
  transition: all 0.15s;
}

.suggestion:hover .suggestion-play {
  opacity: 0.7;
}

.suggestion-info {
  flex: 1;
  width: 0px;
  height: fit-content;
  margin-left: 7px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.video-title-container .video-title {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 6px;
  font-weight: 500;
  width: fit-content;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.verified-author-container {
  display: flex;
  align-items: center;
}

.video-author-container {
  width: fit-content;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.verified-author-container .video-author-container {
  max-width: calc(100% - 15px);
}

.video-author-container .video-author {
  font-size: 12px;
  color: rgb(96, 96, 96);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.verified-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.verified-container .verified-icon {
  width: 12px;
  margin-left: 4px;
}

.video-author-container .video-author-tooltip,
.verified-container .verified-tooltip {
  position: absolute;
  background-color: rgba(90, 90, 90, 0.8);
  color: white;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 8px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
}

.video-author-container .video-author-tooltip {
  align-self: flex-end;
  top: -40px;
}

.verified-container .verified-tooltip {
  align-self: center;
  top: -42px;
}

.video-author-container:hover .video-author-tooltip,
.verified-container:hover .verified-tooltip{
  opacity: 1;
}

.suggestion-info .mid-dot {
  font-weight: bold;
  margin: 0px 3px;
}

.video-title-container,
.video-stats-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.suggestion-info .video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 3px;
  width: fit-content;
}

.video-title-container .video-title-tooltip,
.video-stats-container .video-stats-tooltip {
  align-self: flex-end;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid whitesmoke;
  font-size: 11px;
  padding: 3px 3px;
  border-radius: 3px;
  opacity: 0;
  transition: all 0.15s;
  pointer-events: none;
  z-index: 10;
  white-space: nowrap;
}

.video-title-container .video-title-tooltip {
  top: 42px;
}

.video-stats-container .video-stats-tooltip {
  top: 20px;
}

.video-title-container .video-title:hover ~ .video-title-tooltip,
.video-stats-container .video-stats:hover ~ .video-stats-tooltip {
  opacity: 1;
}

.suggestion-menu-opt {
  height: 100%;
  margin-left: 3px;
}

.suggestion-menu-icon {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  padding: 6px;
  opacity: 0;
  transition: all 0.15s;
}

.suggestion-menu-icon:active {
  background-color: rgb(240, 240, 240);
}

.suggestion:hover .suggestion-menu-icon{
  opacity: 1;
}

.show-more-suggestions {
  font-size: 14px;
  font-weight: 500;
  color: rgb(6, 95, 212);
  border: 1px solid rgb(220, 220, 220);
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  transition: all 0.15s;
  opacity: 0;
}

.show-more-suggestions:hover {
  background-color: rgb(222, 241, 255);
  border-color: rgb(222, 241, 255);
}