.flex-container {
  display: flex;
  justify-content: center;
}

.grid-layout {
  display: grid;
  grid-template-columns: 640px 1fr;
}

.main-video {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.main-video-thumbnail {
  width: 640px;
  height: 360px;
  display: block;
}

.control {
  background-image: linear-gradient(to top, rgb(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.video-time-bar {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 610px;
  height: 3px;
  background-color: rgba(200, 200, 200, 0.4);
  transition: all 0.15s;
}

.video-time-bar .completed {
  display: flex;
  align-items: center;
  width: 16%;
}

.video-time-bar .red-bar {
  width: 100%;
  height: 3px;
  background-color: rgb(245, 0, 87);
  transition: all 0.15s;
}

.time-bar-circle {
  width: 12px;
  margin-left: -6px;
  opacity: 0;
  transition: all 0.15s;
}

.video-time-bar:hover,
.video-time-bar:hover .red-bar{
  height: 5px;
}

.video-time-bar:hover .time-bar-circle {
  opacity: 1;
}

.completed:hover .red-bar {
  height: 7px;
}

.completed:hover .time-bar-circle{
  transform: scale(1.5);
}

.control-icons {
  width: 608px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 12px 16px;
}

.left-region {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  margin-left: 10px;
}

.play-icon,
.next-icon,
.speaker-icon,
.volume-icon,
.current-chapter-name,
.auto-play-icon,
.caption-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.left-region .icon {
  width: 16px;
}

.speaker-volume-time {
  display: flex;
  align-items: center;
}

.volume-icon {
  pointer-events: none;
}

.tooltip {
  position: absolute;
  top: -50px;
  font-size: 12px;
  background-color: rgb(60, 60, 60);
  font-weight: 500;
  color: white;
  padding: 4px 8px;
  border-radius: 3px;
  opacity: 0;
  transition: all 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.image-tooltip {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -190px;
  right: -170px;
  opacity: 0;
  transition: all 0.2s ease-in;
  pointer-events: none;
}

.image-tooltip .tooltip{
  position: relative;
  top: 6px;
  text-align: center;
}

.tooltip-img {
  width: 240px;
  display: block;
  border-radius: 6px;
  border: 3px solid rgb(60, 60, 60);
}

.time-stamp {
  position: absolute;
  bottom: 3px;
  right: 3px;
  font-size: 12px;
  font-weight: 500;
  background-color: black;
  color: white;
  padding: 2px 4px;
  border-radius: 3px;
}

.volume-bar {
  display: flex;
  align-items: center;
  width: 50px;
  height: 20px;
  margin: 0px 12px;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: all 0.2s ease-in;
}

.volume-bar .part-1{
  width: 15px;
  height: 3px;
  background-color: white;
  position: relative;
}

.volume-bar-circle {
  width: 9px;
  position: absolute;
  right: -3px;
  top: -3px;
  bottom: -3px;
}

.volume-bar .part-2{
  width: 35px;
  height: 3px;
  background-color: rgba(200, 200, 200, 0.4);
}

.video-time {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: white;
  font-weight: 300;
  white-space: nowrap;
  cursor: text;
  margin-left: -55px;
  transition: margin-left 0.2s ease-in;
  position: relative;
}

.mid-dot {
  font-weight: 700;
  margin: 0px 5px;
}

.current-chapter {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.current-chapter:hover {
  font-weight: 400;
}

.right-arrow {
  width: 6px;
  margin-left: 6px;
  cursor: pointer;
}

.speaker-icon:hover ~ .volume-icon,
.volume-icon:hover{
  pointer-events: all;
}

.speaker-icon:hover ~ .video-time,
.volume-icon:hover ~ .video-time {
  margin-left: 0px;
}

.speaker-icon:hover ~ .volume-icon .volume-bar,
.volume-icon:hover .volume-bar{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.right-region {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  margin-right: 10px;
}

.toggle-button {
  background-color: rgb(110, 110, 110);
  height: 12px;
  width: 30px;
  border-radius: 6px;
  position: relative;
}

.toggle-button .icon {
  width: 28px;
  position: absolute;
  right: -10px;
  bottom: -7.5px;
}

.auto-play-icon .tooltip {
  top: -55.5px;
}

.caption-icon .icon{
  width: 20px;
}

.play-icon:hover .tooltip,
.next-icon:hover .image-tooltip,
.next-icon:hover .tooltip,
.speaker-icon:hover .tooltip,
.volume-icon:hover .tooltip,
.current-chapter:hover .tooltip,
.auto-play-icon:hover .tooltip,
.caption-icon:hover .tooltip {
  opacity: 1;
}