.flex-container {
  display: flex;
  justify-content: center;
}

.grid-layout {
  display: grid;
  grid-template-columns: 640px 1fr;
}

.main-video {
  position: relative;
}

.main-video-thumbnail {
  border-radius: 12px;
  width: 640px;
  height: 360px;
}

.video-time-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 45px;
  left: 0px;
  right: 0px;
}

.video-time-bar .part-1 {
  width: 255px;
  height: 4px;
  background-color: rgb(245, 0, 87);
  position: relative;
}

.time-bar-circle {
  position: absolute;
  right: -4px;
  bottom: -4px;
  width: 12px;
  opacity: 0;
  transition: all 0.15s;
}

.video-time-bar:hover .time-bar-circle {
  opacity: 1;
}

.time-bar-circle:hover {
  transform: scale(1.5);
}

.video-time-bar .part-2 {
  width: 355px;
  height: 4px;
  background-color: rgba(200, 200, 200, 0.4);
}